.wall-container {
  width: 80%;
  height: 450px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-evenly;
}

.reload-btn {
  width: 100px;
  border-radius: 5px;
}
